.body {
    padding: 0;
    margin: 0;
}

#header {
    min-height: 90px;
    background: url(img/bgHeader.png) no-repeat;
    background-size: 100% 90px;
    border-bottom: solid 6px #b4b4b3;
    overflow: hidden;
}

.header {
    display: flex;
    flex: 1 100%;
    height: 45px;
    min-height: 45px;
}

.logo {
    display: flex;
    background: #f26c4f;
    flex: 1.1 1 0px;
    justify-content: flex-end;
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    /*text-align: center;*/
}

.logo__text {
    margin: 8.5px 50px 8.5px 0;
}

.logo__sup {
    color: #f5937e;
    line-height: 0.6;
}

.enterence {
    display: flex;
    flex: 1 1 0px;
}

.enterence__user-name {
    padding: 0;
    margin: 0;
}

.menu {
    flex: 1 1 0px;
}

.menu__item {
    font-size: 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    margin: 0 0 0 25px;
}

.wrapper__elem {
    display: flex;
    flex: 2.5 1 0px;
    /* margin: auto 0; */
}

.wrapper {
    display: flex;
    /*justify-content: flex-start;*/
    flex: 2.5 1 0px;
    background: url(img/bgHeaderWrapper.png) repeat;
    padding: 13.5px 0;
}

.enterence {
    font-size: 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.enterence__user-name {
    color: #f26c4f;
    margin: 0 0 0 25px;
}

.enterence__login-out {
    color: #fff;
    margin: 0 0 0 25px;
    text-decoration: none;
}


/*footer*/

.footer {
    display: flex;
    background-color: #343434;
    flex: 1 100%;
    min-height: 390px;
    justify-content: center;
}

.backgr {
    display: flex;
    width: 1070;
    min-height: 390px;
    justify-content: center;
}

.backgr-wrapper {
    display: flex;
    justify-content: space-between;
}

.fa-stack {
    color: #f26c4f;
}

.column-left {
    display: flex;
    flex-direction: column;
    max-width: 535px;
    margin: 50px 40px 0 0;
}

.subscription {
    display: flex;
    max-width: 550px;
    margin: 52px 0 0 40px;
}

.inform-about,
.coopirate {
    color: #fff;
    margin: 0;
    padding: 0;
    font-size: 12px;
    text-decoration: none;
    font-family: Arial, Helvetica Neue, sans-serif;
    word-wrap: break-word;
}

.input-group {
    display: flex;
    padding: 6px;
    min-width: 445px;
}

.form-join {
    /* display: flex; */
    border: none;
    border-radius: 3px;
    background: #fff;
    box-shadow: inset 0 1px 3px #cfcfcf;
    width: 100%;
    height: 50px;
    color: #7c7c7c;
    padding: 0 0 0 15px;
    font-family: FontAwesome;
    position: relative;
}

.input-btn {
    border: 1px solid #e1593b;
    background: #f16c4f;
    color: #ca3c20;
    text-shadow: 0px 1px rgba(255, 255, 255, 0.33);
    box-shadow: inset 0 3px 3px rgba(255, 255, 255, 0.5);
    width: 58px;
    height: 38px;
    border-radius: 3px;
    position: absolute;
    margin: 7px 0 0 380px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
}


/*main*/

.main-page-wrapper {
    display: flex;
    margin: 0 auto;
    padding: 20px 0 0 0;
    justify-content: center;
    background-image: url(img/centralBg.png);
}

.main-page {
    display: flex;
    justify-content: space-between;
    width: 1070px;
    flex-direction: row;
}

.main-page__central-column {
    display: flex;
    justify-content: center;
    width: 630px;
    flex-direction: column;
}

.central-column {
    margin: 0 0 30px 0;
}

.news__photo {
    background-color: #fff;
    border: 1px solid #cfcfcf;
    padding: 7px;
    margin-bottom: 9px;
    position: relative;
    max-height: 1054px;
}

.news__photo-wrapper {
    background-image: url(img/no-image.jpg);
    background-position: center center;
    background-size: cover;
    min-height: 295px;
}

.wrapper-small {
    min-height: 210px;
}

.wrapper-advert {
    min-height: 348px;
    min-width: 325px;
}

.wrapper-photoFull {
    min-height: 450px;
}


/* fullNews.png */

.photo-size-large {
    width: 100%;
    height: 450px;
    object-fit: cover;
    max-height: 1054px;
    object-position: center;
    font-family: 'object-fit: cover; object-position: center;'
}

.photo-size-middle {
    width: 100%;
    height: 295px;
    object-fit: cover;
    max-height: 1054px;
    object-position: center;
    font-family: 'object-fit: cover; object-position: center;'
}

.photo-size-small {
    width: 100%;
    height: 210px;
    object-fit: cover;
    max-height: 1054px;
    object-position: center;
    font-family: 'object-fit: cover; object-position: center;'
}

.photo-size-advertising {
    width: 325px;
    height: 348px;
    object-fit: cover;
    max-height: 1054px;
    object-position: center;
    font-family: 'object-fit: cover; object-position: center;'
}

.arrow,
.comment__text-wrapper {
    background: url(img/bgText.png);
    border: 1px solid #cfcfcf;
    position: relative;
    height: auto;
}

.news__text {
    padding: 25px 80px 15px 30px;
}

.arrow:after {
    content: '';
    display: block;
    position: absolute;
    top: -11px;
    left: 30px;
    width: 20px;
    height: 20px;
    background: #fefefe;
    border-right: 1px solid #cfcfcf;
    border-bottom: 1px solid #cfcfcf;
    -moz-transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
}

.caption-article {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0 15px 0;
    padding: 0;
    color: #3a3e3f;
    font-size: 30px;
    word-wrap: break-word;
}

.date-article {
    color: #aeaeae;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 0 0 15px 0;
    font-style: italic;
    margin: 0;
}

.subcaption-article {
    color: #f26c4f;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 0 0 15px 0;
    margin: 0;
    word-wrap: break-word;
}

.text-article {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 0 0 15px 0;
    margin: 0;
    color: #959595;
    line-height: 2;
    word-wrap: break-word;
}

.caption-article__double {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 0 15px 0;
    margin: 0;
    color: #3a3e3f;
    font-size: 16px;
    word-wrap: break-word;
}

.double-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 630px;
}

.news__double {
    width: 280px;
}


/*right column*/

.column-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.right-column {
    background: url(img/bgText.png);
    border: 1px solid #cfcfcf;
    height: auto;
    display: block;
    width: 325px;
    padding: 25px 50px 40px 30px;
    margin: 0 0 30px 0;
}

.input-right {
    min-width: 325px;
    margin: 0;
    padding: 0;
    border: 1px solid #cfcfcf;
    border-radius: 3px;
}

.right-btn {
    margin: 7px 0 0 260px;
    background-color: #d9d9d9;
    color: #555555;
    border: 1px solid #8c8c8c;
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .input-btn,
    .right-btn {
        margin: 7px 0 0 -65px;
    }
}

.right-article {
    font-style: italic;
    line-height: 2;
    font-weight: bold;
    word-wrap: break-word;
}

.right-article-sec {
    font-style: italic;
    color: #3a3a3a;
    line-height: 1.5;
    padding: 0;
    word-wrap: break-word;
}

.wrap {
    margin: 15px 0;
}

.list1 li {
    list-style-image: url(img/marker.png);
}

ul {
    margin: 0;
    padding: 0;
}

.tags-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.tags {
    /* display: flex; */
    text-shadow: 0px 1px rgba(255, 255, 255, 0.33);
    box-shadow: inset 0 3px 3px rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
    margin: 0 3px 3px 0;
    height: 38px;
    width: auto;
    padding: 0 15px;
}

.social-news {
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
}

.news-edit {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    display: none;
}

.news__photo:hover .news-edit {
    display: block;
}

.news__photo:hover .news-count-comment {
    display: block;
}

.news-count-comment {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: none;
}

.count-comment-btn {
    background: #f16c4f;
    color: #fff;
    width: auto;
    height: 38px;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
    padding: 0 15px;
    margin: 0;
    border: none;
}

.advertising-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
}


/*page with news*/

.main-news-page {
    display: flex;
    justify-content: center;
    width: 1070px;
    flex-direction: column;
}

.news-page {
    display: flex;
    justify-content: center;
    width: 1070px;
    flex-direction: column;
}

.caption-article-wrapper {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 100px;
    width: calc(100% - 14px);
    margin: auto 0;
    top: 50%;
    margin-top: -50px;
    left: 0;
    border-right: 7px solid rgba(255, 255, 255, 1);
    border-left: 7px solid rgba(255, 255, 255, 1);
    /* display: flex; */
    align-items: center;
    justify-content: center;
}

.caption-article-news {
    /* display: flex; */
    font-family: Arial, Helvetica, sans-serif;
    /* margin: auto 0; */
    padding: 0;
    color: #fff;
    font-size: 30px;
    text-align: center;
    /* -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto; */
    word-wrap: break-word;
}

.comment__text-wrapper {
    margin: 0 0 30px 0;
}

.users {
    border: 1px solid #b3b3b3;
    width: 48px;
    height: 48px;
    padding: 10px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.users-icon {
    display: flex;
    color: #000;
}


/*стили к комментам*/

.comment-parent {
    margin-top: 15px;
}

.comment-parent:first-child {
    margin-top: 0;
}

.comment-parent,
.comment-body {
    zoom: 1;
    overflow: hidden;
}

.comment-body {
    width: 10000px;
}

.users-icon {
    display: block;
}

.comment-parent>.pull-right {
    padding-left: 10px;
}

.comment-left,
.comment-parent>.pull-left {
    padding-right: 10px;
}

.comment-left,
.comment-body {
    display: table-cell;
    vertical-align: top;
}

.comment-heading {
    margin-top: 0;
    margin-bottom: 5px;
}

.сomment-list {
    padding-left: 0;
    list-style: none;
}

.comment-date {
    padding: 0;
    margin: 0;
    display: flex;
    margin: 0 5px;
}

.comment-author {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.comment-text {
    display: flex;
}


/**/

.sticky-container {
    padding: 0px;
    margin: 0px;
    position: fixed;
    left: 0px;
    top: 230px;
    z-index: 1100;
    background-color: #f26c4f;
    border: 1px solid #e1593b;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

.social-ul {
    margin: 0;
    padding: 0;
}

.sticky li {
    list-style-type: none;
    background-color: transparent;
    height: 43px;
    padding: 0;
    margin: 0;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
}

.sticky li:hover {
    background-color: #d76048;
}

.sticky li p {
    padding-top: 5px;
    margin: 0px;
    line-height: 16px;
    font-size: 11px;
}

.social-btn {
    background: transparent;
    color: #bb341b;
    text-shadow: 1px 2px rgba(255, 255, 255, 0.33);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-bottom: 1.5px solid #d75f48;
    border-left: 1.5px solid #d75f48;
}

.input-edit {
    border: 1px solid #a6a6a6;
    border-radius: 3px;
    background: #fff;
    box-shadow: inset 0 5px 5px -5px #cfcfcf, inset 0 -3px 3px -3px #cfcfcf;
    width: 450px;
    height: 25px;
    color: #7c7c7c;
}

.caption-input,
.sup-input {
    color: #959595;
    margin: 5px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    word-wrap: break-word;
}

.sup-input {
    color: #f26c4f;
    font-size: 14px;
}

.edit-text {
    min-height: 175px;
    width: 100%;
    resize: none;
}

.text-tegs {
    margin: 0;
    padding: 0;
}

.edit-btn {
    border: 1px solid #ffbdbd;
    background: linear-gradient(to top, #f26c4f, #ff9781);
    color: #fff;
    width: auto;
    height: 38px;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
}

.cancel-btn {
    border: 1px solid #bbbbbb;
    background: linear-gradient(to top, #dddddd, #eeeeee);
    color: #555555;
    width: auto;
    height: 38px;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
}

.edit-cancel-btn {
    margin: 15px 0 0 0;
    padding: 0;
}

.edit-wrapper {
    padding: 25px 30px 15px 30px;
}

.new-comment-wrapper {
    display: flex;
    flex-direction: row;
}

.new-comment {
    margin: 0 10px 0 0;
}

.new-comment-wrp {
    /* height: 100px; */
    width: 100%;
}

.new-comment-text {
    height: 70px;
    min-height: 70px;
    width: 100%;
    resize: none;
}

.send-comment-btn {
    margin: 10px 0;
}

.send-comment-pos {
    display: flex;
    justify-content: flex-end;
}